$breakpoint-tablet: 768px;
$breakpoint-large: 992px;
$breakpoint-full-hd: 1920px;
$primary-color: #fd5d55;
$secondary-color: #1e2233;
$tertiary-color: #fff;
$link-color: #6c94b1;
$background-color: #333646;
