#about {
  padding: 20px 10px 10px;
  background-image: linear-gradient(to right, skyblue, gray);
  text-align: center;
  font-family: 'Oxygen Mono', monospace;
  box-sizing: border-box;
  @media(min-width: $breakpoint-tablet) {
    padding: 55px 20px 20px;
    min-height: 100vh;
  }

  .about-content {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10px;
    display: grid;

    @media (max-width: $breakpoint-tablet) {
      grid-template-rows: 2fr 2fr 1fr;
    }
    @media(min-width: $breakpoint-tablet) {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:"main-column right-top-column "
                          "main-column right-bottom-column ";
    }

    .right-column {
      text-decoration: none;
      padding-top: 40px;
      color: $primary-color;
      font-size: 2vw;
      @media(min-width: $breakpoint-tablet) {
        padding-left: 50px;
        font-size: 1.1vw;
      }

      h1 {
        padding: 10px 10%;
        border-width: 3px;
        border-color: $primary-color;
        border-style: solid none;
        display: inline;
        color: #3f3e41;
      }

      ul {
        padding: 0 10px;
        list-style: none;
        margin: 20px 0 0;
        @media(min-width: $breakpoint-tablet) {
          margin: 50px 0 0;
        }
      }
    }

    .right-top-column {
      @media(min-width: $breakpoint-tablet) {
        grid-area: right-top-column;
      }

      ul {
        text-align: left;

        li {
          display: flex;
          justify-content: space-between;
          @media(min-width: $breakpoint-tablet) {
            padding-top: 10px;
          }
          padding-top: 5px;
          border-bottom: 5px solid $eerie-black-color;

          span {
            color: $tertiary-color;
            font-size: 1.5em;
            font-weight: 900;
          }
        }
      }
    }

    .right-bottom-column {
      @media(min-width: $breakpoint-tablet) {
        grid-area: right-bottom-column;
      }

      ul {
        text-align: center;
        font-size: 1.2em;

        @media(max-width: $breakpoint-tablet) {
          padding-top: 40px;
          font-size: 2em;
        }

        li {
          display: inline;
          padding-left: 10px;

          &:first-child {
            padding-left: 0;
          }

          a {
            color: $secondary-color;
            text-decoration: none;

            &:active {
              color: $bloody-color;
            }

            &:hover {
              color: $hover-color;
            }
          }
        }
      }
    }

    .main-column {
      text-align: justify;
      color: $primary-color;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 2.5vw;
      @media(min-width: $breakpoint-tablet) {
        font-size: 1.5vw;
        width: 100%;
        padding-right: 10px;
        grid-area: main-column;
        text-align: left;
        border-right: 5px solid $eerie-black-color;
      }

      p {
        line-height: 1.5em;

        span {
          display: block;
        }
      }
    }
  }
}