.header {
  font-family: 'Lato', sans-serif;
  text-align: right;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: 0.5s linear;
  box-sizing: border-box;
  @media (max-width: $breakpoint-tablet) {
    top: 0;
    right: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
    text-align: center;
    transition: none;
    .close {
      padding: 10px 0 0;
      font-size: 40px;
      border: none;
    }
  }

  a {
    color: $primary-color;
    border: 3px solid $secondary-color;
    margin-left: 10px;
    text-decoration: none;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 1.2em;

    &:first-child {
      margin-left: 0;
    }

    &:hover {
      opacity: 0.5;
    }

    &:active {
      color: $bloody-color;
    }

    @media (max-width: $breakpoint-tablet) {
      padding: 20px 0;
      margin: 0;
      border-radius: 0;
      border: none;
      border-bottom: 3px dashed $tertiary-color;
      font-size: 2em;
      color: $primary-color;
      background-color: $secondary-color;
      &:hover {
        opacity: 1;
        background-color: $hover-color;
      }
    }
  }
}

.fixed-header {
  z-index: 9999;
  position: sticky;
  top: 0;
  padding: 30px;
  background-color: $primary-color;

  a {
    color: $eerie-black-color;
  }
}

.flag {
  position: absolute;
  left: 10px;
  top: 10px;
}

.hamburger {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 38px;
  color: $secondary-color;

  &:hover {
    color: $hover-color;
  }
}

.hide {
  display: none;
}