#home {
  height: 100Vh;
  background-color: $background-color;

  .home-content {
    text-shadow: 1px 10px 50px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    box-sizing: border-box;

    .introduction {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: $tertiary-color;
      box-sizing: border-box;
      font-weight: 700;

      .rolling-greeting {
        .placeholder {
          visibility: hidden;
        }

        span {
          &:last-child {
            opacity: 1;
            animation: fadeIn 1s;
          }

          @keyframes fadeIn {
            0% {
              opacity: 0.2;
            }
            100% {
              opacity: 1;
            }
          }
        }
      }

      .rolling-name {

        .half-name {
          display: inline-block;

          &:first-child {
            &::after {
              content: "\00a0";
            }

            transform: translateX(-100px);
          }

          &:last-child {
            transform: translateX(100px);
          }

          animation: slideIn 0.5s ease-in-out forwards;

          @keyframes slideIn {
            100% {
              transform: translateX(0);
            }
          }

          span {
            &:last-child {
              display: inline-block;
              animation: 0.5s stretch 0.5s forwards;
            }

            @keyframes stretch {
              50% {
                transform: scaleX(1);
              }
              90% {
                transform: scaleX(3);
              }
              100% {
                color: $primary-color;
              }
            }
          }
        }
      }

      h1 {
        margin: 40px 0 0;
        font-size: 5vw;
        @media(max-width: $breakpoint-tablet) {
          font-size: 7vw;
          margin: 5px 0 0;
        }
      }

      h2 {
        margin: 40px 0;
        font-size: 4vw;
        @media(max-width: $breakpoint-tablet) {
          font-size: 6vw;
          margin: 10px 0;
        }
      }

      h3 {
        margin: 0;
        font-size: 2.5vw;
        @media(max-width: $breakpoint-tablet) {
          font-size: 4vw;
        }
      }

      .link-icons {
        text-align: center;
        font-size: 1.4vw;
        padding: 5px 0 0;

        @media(max-width: $breakpoint-tablet) {
          font-size: 3vw;
        }

        li {
          display: inline;
          padding-left: 10px;

          &:first-child {
            padding-left: 0;
          }

          a {
            color: $link-color;
            text-decoration: none;

            &:hover {
              opacity: 0.5;
            }
          }
        }
      }
    }
  }
}

.blur {
  -webkit-filter: blur(20px);
  -moz-filter: blur(20px);
  -o-filter: blur(20px);
  -ms-filter: blur(20px);
  filter: blur(20px);
}